aiohttp
dnspython
motor
Pyrogram
pyromod
pornhub-api==0.2.0
TgCrypto
pyproject-toml
youtube-dl
filesplit
pytz
moviepy
filetype
tgcrypto
ffmpeg-python
hurry.filesize
git+https://github.com/Snowball-0/mega.py.git
